/* seletor global = seleciona todos os elementos da pagina  */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* seletor pela tag */
p{
    color: royalblue
}

main{
    margin-top: 1rem;
}

/* seletor pela classe */

.paragrafo{
    border: 1px solid rebeccapurple;
    color: brown;
    margin-top: 1rem;
}

/* seletor pelo id */

#titulo{
    color: greenyellow;
    margin-bottom: 1rem;
}

/* seletor pelo atributo */

input [type="passaword"]{
    font-size: 3rem;
}
/* seletor por descedentes */
.login-form input{
    font-size: 2rem;
    color: blueviolet;

}

/* seletor de filhos direitos */

.login-form > input{
    color: coral;
    width: 10rem;
}

/* pseudo-classes */
.cadastro-form div:nth-of-type(2){
    border: 2px solid blue;
}



